/* política de privacidade */
.politica-de-privacidade {
    width: 1100px;
    margin: 110px auto 50px auto;
}
.politica-de-privacidade .titulo {
    font-family: "Amatic SC", cursive;
    font-size: 50px;
    font-weight: 400;
    color: #69311d;
    margin-bottom: 25px;
}
.politica-de-privacidade .texto {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #69311d;
}
.politica-de-privacidade .texto > p {
    line-height: 150%;
    margin: 15px 0;
}

/* aviso de cookies */
.aviso-cookies {
    display: flex;
    width: 100%;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 999;
    padding: 25px;
}
.aviso-cookies .frase-cookies {
    width: 900px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
}
.aviso-cookies .frase-cookies .link-politica {
    text-decoration: underline;
}
.aviso-cookies .frase-cookies .link-politica:hover {
    font-weight: bold;
}
.aviso-cookies .aceitar-cookies {
    width: 150px;
    height: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
}
.aviso-cookies .aceitar-cookies:hover {
    background-color: #fff;
    color: #195493;
}

/* contato aviso/aceite LGPD */
.contato-opt-in {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px 0;
}
.contato-opt-in input[type="checkbox"] {
    position: relative;
    width: 18px;
    height: 18px;
    border: 2px solid #e2e2e2;
    border-radius: 0;
    cursor: pointer;
    appearance: none;
}
.contato-opt-in input[type="checkbox"]:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 4px;
    width: 4px;
    height: 8px;
    border-style: solid;
    border-color: #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}
.contato-opt-in input[type="checkbox"]:checked {
    color: #fff;
    border-color: #195493;
    background: #195493;
}
.contato-opt-in input[type="checkbox"]:checked:before {
    opacity: 1;
}
.contato-opt-in .texto-lgpd {
    width: 93%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    color: #9d796c;
    line-height: 1.2;
    text-align: start;
}
#compartilhe .centralizar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
#compartilhe .visite-loja {
    width: 18%;
    margin-right: 0;
}
#compartilhe .visite-loja > a {
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    padding: 20px 36px;
    box-sizing: border-box;
    border-radius: 6px;
    background: #d9e8ec;
    transition: background 0.3s ease-in;
}
#compartilhe .visite-loja > a > img {
    height: 45px;
}
#compartilhe .visite-loja > a:hover {
    background: #195493;
}
#compartilhe .newsletter {
    margin-right: 0 !important;
    width: 35%;
    max-width: 360px !important;
}
#compartilhe .newsletter > h2 {
    padding: 0 25px;
}
#compartilhe .newsletter .contato-opt-in {
    height: 90px;
}
#compartilhe .contato-social {
    margin-left: 0 !important;
}

/* descadastros */
.conteudo-descadastro, .conteudo-descadastro-confirmacao {
    clear: both;
    font-size: 0;
    padding-bottom: 150px;
}
.conteudo-descadastro .centralizar, .conteudo-descadastro-confirmacao .centralizar {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo-descadastro .centralizar > h1, .conteudo-descadastro-confirmacao h1 {
    font-family: "Amatic SC",cursive;
    font-size: 50px;
    font-weight: 400;
    color: #69311d;
    width: 400px;
    text-align: start;
}
.conteudo-descadastro-confirmacao h1 {
    width: 530px;
}
.conteudo-descadastro .centralizar .frase, .conteudo-descadastro-confirmacao .frase1, .conteudo-descadastro-confirmacao .frase2, .conteudo-descadastro-confirmacao .frase3 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #69311d;
    width: 400px;
    text-align: start;
    margin: 30px 0;
}
.conteudo-descadastro-confirmacao .frase1, .conteudo-descadastro-confirmacao .frase2, .conteudo-descadastro-confirmacao .frase3 {
    width: 530px;
}
.conteudo-descadastro-confirmacao .frase2, .conteudo-descadastro-confirmacao .frase3 {
    margin: 0 0 5px 0;
}
.conteudo-descadastro .centralizar > form {
    width: 400px;
}
.conteudo-descadastro .centralizar > form input[type="email"] {
    border-radius: 4px;
    border: 1px solid #ebebeb;
    height: 40px;
    line-height: 25px;
    margin: 0 0 3px;
    padding: 3px 6px;
    box-sizing: border-box;
    width: 100%;
    color: #195493;
    font-family: Open Sans,sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.conteudo-descadastro .centralizar > form input[type="submit"] {
    display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-family: Open Sans,sans-serif;
    font-size: 12px;
    font-weight: 700;
    background: #d9e8ec;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    color: #038dd1;
    transition: all .3s ease-in;
}
.conteudo-descadastro .centralizar > form input[type="submit"]:hover {
    background: #038dd1;
    color: #FFF;
}

/* tablet e mobile */
@media screen and (max-width: 1100px) {
    .politica-de-privacidade {
        width: 80%;
        margin: 80px auto 50px auto;
    }
    .politica-de-privacidade .titulo {
        font-size: 40px;
    }
    .politica-de-privacidade .texto {
        font-size: 12px;
    }
    .contato-opt-in .texto-lgpd {
        width: 90%;
    }
}

/* tablet */
@media screen and (max-width: 1100px) and (min-width: 750px) {
    .aviso-cookies .frase-cookies {
        width: 65%;
        font-size: 12px;
    }
    .aviso-cookies .aceitar-cookies {
        width: 20%;
        font-size: 12px;
    }
    .contato-opt-in {
        height: 115px;
    }
    #compartilhe .visite-loja,
    #compartilhe .contato-social {
        width: 24% !important;
    }
    #compartilhe .newsletter .contato-opt-in {
        height: 125px;
    }
}

/* mobile */
@media screen and (max-width: 750px) {
    .aviso-cookies {
        flex-direction: column;
        padding: 25px 0;
    }
    .aviso-cookies .frase-cookies {
        width: 80%;
        font-size: 12px;
        line-height: 1.3;
        margin-bottom: 20px;
        text-align: center;
    }
    .aviso-cookies .aceitar-cookies {
        width: 80%;
        font-size: 12px;
    }
    .conteudo-contato .centralizar {
        max-width: 90%;
    }
    .contato-opt-in {
        height: 105px;
    }
    #compartilhe .centralizar {
        max-width: 90% !important;
        flex-direction: column;
        align-items: center;
    }
    #compartilhe .visite-loja,
    #compartilhe .newsletter,
    #compartilhe .contato-social {
        width: 100% !important;
    }
    #compartilhe .newsletter {
        margin: 40px 0;
    }
    #compartilhe .newsletter .contato-opt-in {
        height: 100px;
    }
    .conteudo-descadastro, .conteudo-descadastro-confirmacao {
        padding-bottom: 70px;
        padding-top: 10px;
    }
    .conteudo-descadastro .centralizar, .conteudo-descadastro-confirmacao .centralizar {
        max-width: 90%;
        width: 90%;
    }
    .conteudo-descadastro .centralizar > h1, .conteudo-descadastro-confirmacao h1 {
        font-size: 40px;
        width: 80%;
    }
    .conteudo-descadastro .centralizar .frase, .conteudo-descadastro-confirmacao .frase1, .conteudo-descadastro-confirmacao .frase2, .conteudo-descadastro-confirmacao .frase3 {
        font-size: 14px;
        width: 80%;
        margin: 20px 0;
    }
    .conteudo-descadastro .centralizar > form {
        width: 80%;
    }
    .conteudo-descadastro-confirmacao .frase2, .conteudo-descadastro-confirmacao .frase3 {
        margin: 0 0 5px 0;
    }
}
